

<div class="container mt-5 text-center">
    <h1>สมัครสมาชิก</h1>
    <h5 class="mt-3 opacity-75">SANGATAN ให้ความสําคัญในความปลอดภัยของข้อมูลของคุณ</h5>
</div>
<div class="container w-50 mt-3 text-center">

    <form [formGroup]="userForm" id="myform">

        <div class="form-group mt-4">
            <input type="text" class="form-control" formControlName="fname"  placeholder="ชื่อ">
            <span *ngIf="!userForm.get('fname')?.valid" class="showtext"  [hidden]="showtext">กรุณากรอกชื่อ</span>
        </div>


        <div class="form-group mt-4">
            <input type="text" class="form-control" formControlName="lname"  placeholder="นามสกุล">
            <span *ngIf="!userForm.get('lname')?.valid" class="showtext"  [hidden]="showtext">กรุณากรอกนามสกุล</span>
        </div>

        <div class="form-group mt-4">
            <input type="email" class="form-control" formControlName="email"  placeholder="อีเมลล์">
            <span *ngIf="!userForm.get('email')?.valid" class="showtext"  [hidden]="showtext">กรุณากรอกอีเมลล์ (name@example.com)</span>
        </div>
        
        <div class="form-group mt-4">
            <input type="password" class="form-control" formControlName="password"  placeholder="รหัสผ่าน">
            <span *ngIf="!userForm.get('password')?.valid" class="showtext"  [hidden]="showtext">กรุณากรอกรหัสผ่านให้เกิน 5 ตัวอักษร</span>
        </div>
        <div class="form-group mt-4">
            <input type="password" class="form-control" formControlName="cfpassword"  placeholder="ยืนยันรหัสผ่าน">
            <span *ngIf="!userForm.get('cfpassword')?.valid" class="showtext"  [hidden]="showtext">กรุณากรอกรหัสผ่านให้เกิน 5 ตัวอักษร</span>
            <span *ngIf="userForm.errors?.['passwordsDontMatch']" class="showtext"  [hidden]="showtext">กรุณากรอกรหัสผ่านให้ตรงกัน</span>
        </div>
    </form>
    <div>
        <div class="form-check mt-4 ms-5 opacity-75">

            <label class="form-check-label me-5" for="defaultCheck1">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                เพื่อใช้งานต่อ ฉันยอมรับข้อกำหนดการใช้งานและคำชี้แจงความเป็นส่วนตัว
            </label>
        </div>
        <button (click)="submit()" id="myButton" class="container btn btn-warning mt-4"
          >สมัครสมาชิก</button>