<div class="container-fluid p-1 bg-transparent">
  <nav class="navbar navbar-light ">
    <form class="container-fluid justify-content-start">
      <a class="btn btn-warning me-2" type="button" routerLink="/promotion">โปรโมชั่น</a>
      <a class="btn btn-warning me-2" type="button" routerLink="/sangatan">ชุดสังฆทาน</a>
      <a class="btn btn-warning me-2" type="button" routerLink="/monkuse">เครื่องใช้พระสงฆ์</a>
      <a class="btn btn-warning me-2" type="button" routerLink="/custom">คัสตอมสังฆทาน</a>
      <a class="btn btn-warning me-2" type="button" routerLink="/ordination">เครื่องบวช เครื่องกฐิน</a>
    </form>
  </nav>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://media.discordapp.net/attachments/1034726008114393153/1041440769497649182/unknown.png?width=1440&height=481"
        class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img
        src="https://media.discordapp.net/attachments/1034726008114393153/1044190806103302174/Banner.png?width=1440&height=480"
        class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img
        src="https://media.discordapp.net/attachments/1034727241764048910/1039065390002745344/banner_newdesign.png?width=1440&height=480"
        class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container d-flex mt-5 mb-5">
  <div class="col-4" id="boxes">
    <a type="button" id="click" routerLink="/sangatan"><img
        src="https://media.discordapp.net/attachments/1034727241764048910/1041760615305314434/block1.png" width="100%"
        height="100%">
    </a>
  </div>

  <div class="col-4" id="boxes">
    <a type="button" id="click" routerLink="/sangatan"><img
        src="https://media.discordapp.net/attachments/1034727241764048910/1041760614860738621/block2.png" width="100%"
        height="100%">
    </a>
  </div>

  <div class="col-4" id="boxes">
    <a type="button" id="click" routerLink="/sangatan"><img
        src="https://cdn.discordapp.com/attachments/1034727241764048910/1041780368606515200/block3.png" width="100%"
        height="100%">
    </a>
  </div>
</div>

<footer class="foot">
  <div class="lfoot">
    <h4>
      เกี่ยวกับร้าน
    </h4>
    <ul>
      <li>เกี่ยวกับเรา</li>
      <li>คำถามที่พบบ่อยร่วมงานกับเรา</li>
      <li>ร่วมงานกับเรา</li>
    </ul>
  </div>
  <div class="mfoot">
    <ul>
      <li>นโยบายความเป็นส่วนตัวของลูกค้า</li>
      <li>นโยบายความเป็นส่วนตัวของพนักงาน</li>
      <li>ข้อตกลงและเงื่อนไข</li>
    </ul>
  </div>
  <div class="rfoot">
    <h4>
      ช่องทางการติดต่อ
    </h4>
    <div class="social">
      <i class="pi pi-facebook ms-2">
      </i>
      <i class="pi pi-twitter ms-2">
      </i>
      <i class="pi pi-instagram ms-2">
      </i>
    </div>
  </div>
</footer>
<footer id="copy">
  2022 &copy; SANGATAN All rights reserved.
</footer>