<div class="container-fluid p-0  bg-warning text-white text-center sticky-top" id="navwhite">
  <ul class="container-fluid nav nav-pills pt-3 pb-3 ps-3 position-relative" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link" type="button" routerLink="/promotion">โปรโมชั่น</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link active" type="button" routerLink="/sangatan">ชุดสังฆทาน</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" type="button" routerLink="/monkuse">เครื่องใช้พระสงฆ์</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" type="button" routerLink="/custom">คัสตอมสังฆทาน</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" type="button" routerLink="/ordination">เครื่องบวช เครื่องกฐิน</a>
    </li>
    <li class="nav-item ms-auto" role="presentation">
      <a class="nav-link" type="button" routerLink="/cart">
        ตะกร้าสินค้า</a>
    </li>
   
  </ul>

</div>



<div class="container mt-4">
    <div class="row">
      <div class="col-4">
        <nav class="nav flex-column bg-light" id="outline">
          <a class="nav-link" href="/sangatan#">ชุดงานพิธี</a>
          <a class="nav-link" href="/sangatan#bday">ชุดทำบุญวันเกิด</a>
          <a class="nav-link" href="/sangatan#med">ชุดยารักษาโรค</a>
          <a class="nav-link" href="/sangatan#funeral">สังฆทานสำหรับงานศพ</a>
        </nav>

      </div>
     
      <div class="col-8">
        <!-- <div class="boxbox"> -->
        <h2 class="mb-4" id="ritual">ชุดงานพิธี</h2>
        <ng-container *ngFor="let data of bdayList">
          <div class="row">
            <div class="d-flex mb-5">
              <img [src]="data.pic" class="img-thumbnail" width="350px" height="350px">
              <div class="ms-4 mt-1">
                <h3>{{ data.name }}</h3>
                <div class="d-flex mt-1"><h5 class="text-price">{{ data.price + " "}}</h5> <h5 class="text-secondary ms-1"> บาท</h5></div>
                <p class="mt-4 mb-0">ประกอบด้วย</p>
                <p class="mt-0 text-secondary mb-5">{{ data.items }}</p>
                <div class="mt-5 pt-4">
                  <button class="btn btn-warning ms-1" (click)="minus()">-</button>
                  <input class="btn btn-outline-warning ms-1" disabled [value]="amount" style="width: 45px;">
                  <button class="btn btn-warning ms-1" (click)="plus()">+</button>
                  <button class='btn btn-warning ms-2' type='button' (click)="addcart(data)" >เพิ่มลงตะกร้า</button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <h2 class="mb-4 text-white" id="bday"><br><br></h2>
        <h2 class="mb-4">ชุดทำบุญวันเกิด</h2>
        <ng-container *ngFor="let data of ritualList">
          <div class="row">
            <div class="d-flex mb-5">
              <img [src]="data.pic" class="img-thumbnail" width="350px" height="350px">
              <div class="ms-4 mt-1">
                <h3>{{ data.name }}</h3>
                <div class="d-flex mt-1"><h5 class="text-price">{{ data.price + " "}}</h5> <h5 class="text-secondary ms-1"> บาท</h5></div>
                <p class="mt-4 mb-0">ประกอบด้วย</p>
                <p class="mt-0 text-secondary mb-5">{{ data.items }}</p>
                <div class="mt-5 pt-5">
                  <button class="btn btn-warning ms-1" (click)="minus()">-</button>
                <input class="btn btn-outline-warning ms-1" disabled [value]="amount" style="width: 45px;">
                <button class="btn btn-warning ms-1" (click)="plus()">+</button>
                <button class='btn btn-warning ms-2' type='button' (click)="addcart(data)" >เพิ่มลงตะกร้า</button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <h2 class="mb-4 text-white" id="med"><br><br></h2>
        <h2 class="mb-4" >ชุดยารักษาโรค</h2>
        <ng-container *ngFor="let data of medList">
          <div class="row">
            <div class="d-flex mb-5">
              <img [src]="data.pic" class="img-thumbnail" width="350px" height="350px">
              <div class="ms-4 mt-1">
                <h3>{{ data.name }}</h3>
                <div class="d-flex mt-1"><h5 class="text-price">{{ data.price + " "}}</h5> <h5 class="text-secondary ms-1"> บาท</h5></div>
                <p class="mt-4 mb-0">ประกอบด้วย</p>
                <p class="mt-0 text-secondary mb-5">{{ data.items }}</p>
                <div class="mt-5 pt-5">
                  <button class="btn btn-warning ms-1" (click)="minus()">-</button>
                  <input class="btn btn-outline-warning ms-1" disabled [value]="amount" style="width: 45px;">
                  <button class="btn btn-warning ms-1" (click)="plus()">+</button>
                  <button class='btn btn-warning ms-2' type='button' (click)="addcart(data)" >เพิ่มลงตะกร้า</button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        
        <h2 class="mb-4 text-white" id="funeral"><br><br></h2>
        <h2 class="mb-4">สังฆทานสำหรับงานศพ</h2>

        <ng-container *ngFor="let data of funeralList">
          <div class="row">
            <div class="d-flex mb-5">
              <img [src]="data.pic" class="img-thumbnail" width="350px" height="350px">
              <div class="ms-4 mt-1">
                <h3>{{ data.name }}</h3>
                <div class="d-flex mt-1"><h5 class="text-price">{{ data.price + " "}}</h5> <h5 class="text-secondary ms-1"> บาท</h5></div>
                <p class="mt-4 mb-0">ประกอบด้วย</p>
                <p class="mt-0 text-secondary mb-5">{{ data.items }}</p>
                <div class="mt-5 pt-5">
                  <button class="btn btn-warning ms-1" (click)="minus()">-</button>
                <input class="btn btn-outline-warning ms-1" disabled [value]="amount" style="width: 45px;">
                <button class="btn btn-warning ms-1" (click)="plus()">+</button>
                <button class='btn btn-warning ms-2' type='button' (click)="addcart(data)" >เพิ่มลงตะกร้า</button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    <!-- </div> -->
    </div>
  </div>
  


  
<footer class="foot">
  <div class="lfoot">
    <h4>
      เกี่ยวกับร้าน
    </h4>
    <ul>
      <li>เกี่ยวกับเรา</li>
      <li>คำถามที่พบบ่อยร่วมงานกับเรา</li>
      <li>ร่วมงานกับเรา</li>
    </ul>
  </div>
  <div class="mfoot">
    <ul>
      <li>นโยบายความเป็นส่วนตัวของลูกค้า</li>
      <li>นโยบายความเป็นส่วนตัวของพนักงาน</li>
      <li>ข้อตกลงและเงื่อนไข</li>
    </ul>
  </div>
  <div class="rfoot">
    <h4>
      ช่องทางการติดต่อ
    </h4>
    <div class="social">
      <i class="pi pi-facebook ms-2">
      </i>
      <i class="pi pi-twitter ms-2">
      </i>
      <i class="pi pi-instagram ms-2">
      </i>
    </div>
  </div>
</footer>
<footer id="copy">
  2022 &copy; SANGATAN All rights reserved.
</footer>